*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/schemas/com.example.bingoetage.viewmodel.BingoGridDatabase/1.json
/app/schemas/com.example.bingoetage.viewmodel.BingoGridDatabase/2.json
/app/schemas/com.example.bingoetage.viewmodel.BingoGridDatabase/3.json
/app/debug
/app/release
